body {
  background-color: lightblue;
}
/*
h1 {
  color: white;
  text-align: center;
}
*/
p {
  font-family: verdana;
}

/* from here the clearfix let go*/
* {
  box-sizing: border-box;
}
header,
footer {
  background: gray;
  padding: 15px;
  color: white;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.column {
  float: left;
  padding: 15px;
}

.menu {
  width: 25%;
}
.content {
  width: 75%;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 8px;
  margin-bottom: 8px;
  background-color: teal;
  color: white;
  text-align: center;
}

.menu li:hover {
  background-color: yellowgreen;
}
